body {
	max-width: 700px;
	margin: 0 auto;
	border: 1px dotted grey;
	padding: 10px;
}

nav ul li {
	font-size: 1rem;
	padding: 6px 0;
}

.pagination {
	margin-top: 20px;
	text-align: center;
}

footer {
	margin-top: 25px;
	border-top: 1px dotted grey;
	padding: 10px 0;
	text-align: center;
}